<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.vue_study.board.mapper.BoardMapper">

    <resultMap id="BoardInfo" type="com.example.vue_study.board.info.BoardInfo"/>

    <select id="selectUserList" resultMap="BoardInfo">
        /* SQL ID : BoardMapper.selectUserList */
        SELECT *
        FROM MBR_CUST_USER
        WHERE USER_STTS_CD = '1'
        <if test='param.searchKey != null and param.searchKey != "" '>
            <choose>
                <when test='param.searchKey.equals("userNm")'>
                    AND USER_NM LIKE CONCAT('%', #{param.searchWord}, '%')
                </when>
                <when test='param.searchKey.equals("deptNm")'>
                    AND DEPT_NM LIKE CONCAT('%', #{param.searchWord}, '%')
                </when>
                <when test='param.searchKey.equals("jbpsNm")'>
                    AND JBPS_NM LIKE CONCAT('%', #{param.searchWord}, '%')
                </when>
            </choose>
        </if>
        ORDER BY USER_SN ASC
        OFFSET #{param.startIndex, jdbcType=INTEGER} ROWS
        FETCH NEXT #{param.rowCnt, jdbcType=INTEGER} ROWS ONLY /*TOP 또는 FETCH 절의 행 개수 매개 변수에 지정하는 행 개수는 정수여야 합니다.*/
    </select>

    <!-- 회원 목록 전체 건수 조회 -->
    <select id="selectUserListCnt" resultType="int">
        /* SQL ID : BoardMapper.selectUserListCnt */
        SELECT COUNT(*)
        FROM MBR_CUST_USER
        WHERE USER_STTS_CD = '1'
        <if test='param.searchKey != null and param.searchKey != "" '>
            <choose>
                <when test='param.searchKey.equals("userNm")'>
                    AND USER_NM LIKE CONCAT('%', #{param.searchWord}, '%')
                </when>
                <when test='param.searchKey.equals("deptNm")'>
                    AND DEPT_NM LIKE CONCAT('%', #{param.searchWord}, '%')
                </when>
                <when test='param.searchKey.equals("jbpsNm")'>
                    AND JBPS_NM LIKE CONCAT('%', #{param.searchWord}, '%')
                </when>
            </choose>
        </if>
    </select>

    <select id="selectUserInfo" resultMap="BoardInfo">
        SELECT * FROM MBR_CUST_USER WHERE USER_SN = #{userSn}
    </select>

    <insert id="insert">
        /* SQL ID : BoardMapper.insert */
        /* SQL Server에서는 저장 프로시저 호출 시 중괄호 {}를 사용하지 않습니다. 대신 EXEC 또는 EXECUTE 키워드를 사용합니다. */
    <![CDATA[
        EXEC USP_INSERT_MBR_CUST_USER
        #{custSn},
        #{emlAddr},
        #{userPswdEvl},
        #{userNm},
        #{mblTelSeCdEvl},
        #{mblTelOnoEvl},
        #{mblTelSnEvl},
        #{telRgnCdEvl},
        #{telOnoEvl},
        #{telSnEvl},
        #{deptNm},
        #{jbpsNm},
        #{roleCd}
        ]]>
    </insert>

    <update id="update">
        /* SQL ID : BoardMapper.update */
        <![CDATA[
            EXEC USP_UPDATE_MBR_CUST_USER_DATA
            #{userSn},
            null,
            #{userNm},
            null,
            null,
            null,
            #{deptNm},
            #{jbpsNm},
            null,
            null,
            null
        ]]>
    </update>

    <update id="delete">
        /* SQL ID : BoardMapper.delete */
        <![CDATA[
        EXEC USP_DELETE_MBR_CUST_USER_DATA
            #{userSn},
            #{updtMngrUserSn},
            #{updtCustUserSn}
        ]]>
    </update>


</mapper>
